* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

 body{
  font-family:Verdana;
  background-color: rgb(246, 246, 246);
  color:#437ac7;
  width: 600px;
  height: 200px;
  margin: auto;
 }
 .social {
    display: flex;
    justify-content: flex-end;
 }
 i {
    margin-right: 3px;
    color: #437ac7;
 }

 h2 {
    text-align: center;
    margin: 0;
    padding: 0;
 }

 nav {
    display: flex;
    justify-content: center;
 }

 ul {
    margin: 0;
    padding: 0;
 }

 li {
    display: inline;
    padding-right: 3dvb;
    font-size: 0.8rem;
 }

 a {
    text-decoration: none;
 }

a:hover {
    font-size: 1rem;
}

a:link {
    color: yellow;
}

a:visited {
    color: green;
}

 figure {
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 60vh;
 }
 img {
    width: 100%;
    height: 100%;
 }

 .text {
    font-size: 0.8rem;
 }

 .motto {
    font-size: 0.75rem;
    font-style: italic;
    color: #2e486d;
    width: 60%;
    height: 100px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
 }

 form {
    border: 1px solid #ccc;
    margin-top: 30px;
    display: flex;
    justify-content: center;
 }

.subscribeimg {
   flex-shrink: 5;
   padding: 40px 17px;

}
.container h4 {
    font-size: 1rem;
    font-weight: 400;
}

.container p {
    font-size: 0.8rem;
}

input {
    width: 55%;
}

button {
    width: 20%;
    background-color: #714f71;;
    color: #f7ebf4;
}

.container {
    padding: 15px 5px;
    flex-grow: 4;
}

#consent {
    width: 3%;
    margin: 12px 0px;
    padding-top: 3px;
}

label {
    font-size: 0.75rem;
}

footer {
    background-color: #437ac7;
    color: #f4f4ea;
    font-size: 0.70rem;
    margin-top: 30px;
}